<div class="page-container">
  <div class="map-container">
    <mgl-map
      [style]="'mapbox://styles/mapbox/streets-v11'"
      [zoom]="[11]"
      [center]="center"
      [attributionControl]="false"
      (load)="loaded($event)"
    >
      <mgl-control mglNavigation position="top-right"></mgl-control>
      <mgl-control
        mglScale
        unit="imperial"
        position="bottom-right"
      ></mgl-control>
      <mgl-popup
        *ngIf="selectedLocationId"
        [lngLat]="selectedLocation.coordinates"
        (close)="selectedLocationId = null"
        [offset]="25"
      >
        <h3>{{ selectedLocation.organization }}</h3>
        <div>{{ selectedLocation.address1 }}</div>
        <!-- <span [innerHTML]="selectedPoint.properties.description"></span> -->
      </mgl-popup>
    </mgl-map>
  </div>
  <div class="search-container">
    <div #searchbox class="geocoder"></div>
    <div class="results">
      <mat-card
        *ngFor="let location of locations"
        (click)="cardSelected(location)"
        [class.selected]="location.id == selectedLocationId"
      >
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>star</mat-icon>
            <div>{{ location.classification }}</div>
          </div>
          <mat-card-title>{{ location.fullname }}</mat-card-title>
          <mat-card-subtitle>
            <div class="specialty mat-small">
              {{ location.specialties.join(", ") | titlecase }}
            </div>
            <div class="organization">
              {{ location.organization }} ({{
                location.distance | number: "1.1-1"
              }}
              {{ location.units }})
            </div>
            <div>
              {{ location.line1 }}
            </div>
            <div>{{ location.line2 }}</div>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
