/* You can add global styles to this file, and also import other style files */
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mapboxgl-popup {
  .mapboxgl-popup-content {
    font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", Sans-serif;
    padding: 0;
    width: 200px;

    button.mapboxgl-popup-close-button {
      display: none;
    }

    div {
      h3 {
        background: #0187d4;
        color: #fff;
        margin: 0;
        display: block;
        padding: 10px;
        border-radius: 3px 3px 0 0;
        font-weight: 700;
        margin-top: -15px;
      }

      div {
        padding: 10px;
      }
    }
  }
}

.mapboxgl-marker {
  cursor: pointer;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
  border-radius: 8px 8px 0 0;
}
